#root {
  grid-template-columns: 20% 80%;
  display: grid;
  --prime-color: #eeebdd;
  --card-color: #cae1ff;
  color: #810000;
  margin: -8px;
}

button {
  background: #810000;
  border-radius: 5px;
  padding: 5px 20px;
  color: white;
  font: normal bold 18px "Open Sans", sans-serif;
  text-align: center;
  width: 10vw
}

button:hover {
  transition: all 0.5s;
  background: #330000;
  cursor: pointer;
}

.page-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  grid-column: 2;
}
